* {
  padding: 0;
  margin: 0;
}


h1,
h2,
h3 {
  font-family: "Montserrat";
  animation: animacion-titulos 1s alternate infinite;
}

h2 {
  border-bottom: 3px solid rgb(200, 151, 4);
}

p {
  padding: 10px;
  text-align: justify;

}

header img {
  width: 200px;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 10px 12px 5px -4px rgba(0, 0, 0, 0.23);
}

.foto {
  display: flex;
  justify-content: first baseline;
  align-items: end;
}

section {
  margin-top: 40px;
  margin-left: 20px;

}

#proyectos img {
  width: 200px;
}

#proyectos p {
  font-size: 10px;
  color: rgb(99, 97, 100);
}

.cont-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 20px;

}

.items-hab {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.items-hab p {
  text-align: center;
}


@keyframes animacion-titulos {
  form {
    opacity: 0;
    transform: skew(0);

  }

  to {
    opacity: 1;
    transform: skew(10deg);

  }
}

.items-hab p {
  background-color: rgb(200, 151, 4);
  padding: 10px;
  border-radius: 10px;
}